.display1{
	font-size: 64px;
	line-height: 1.2;
	font-weight: 700;
}
.display2{
	font-size: 48px;
	line-height: 1.2;
	font-weight: 700;
}
.h1{
	font-size: 40px;
	line-height: 1.2;
	font-weight: 700;
}
.h2{
	font-size: 32px;
	line-height: 1.2;
	font-weight: 700;
}
.h3{
	font-size: 28px;
	line-height: 1.2;
	font-weight: 700;
}
.h4{
	font-size: 24px;
	line-height: 1.2;
	font-weight: 700;
}
.h5{
	font-size: 20px;
	line-height: 1.2;
	font-weight: 700;
}
.h6{
	font-size: 16px;
	line-height: 1.2;
	font-weight: 700;
}
.label-lg {
	font-size: 20px;
	font-weight: 500;
	line-height: 1.5;
}
.label-md {
	font-size: 16px;
	font-weight: 500;
	line-height: 1.5;
}
.label-sm {
	font-size: 14px;
	font-weight: 500;
	line-height: 1.5;
}
.label-xs {
	font-size: 12px;
	font-weight: 500;
	line-height: 1.5;
}
.paragraph-lg{
	font-size: 20px;
	font-weight: 500;
	line-height: 1.5;
}
.paragraph-md{
	font-size: 16px;
	font-weight: 500;
	line-height: 1.5;
}
.paragraph-sm{
	font-size: 14px;
	font-weight: 500;
	line-height: 1.5;
}
.paragraph-xs{
	font-size: 12px;
	font-weight: 500;
	line-height: 1.5;
}
.text-primary-100{
	color: $primary-100
}
.text-primary-400{
	color: $primary-400
}
.text-primary-300{
	color: $primary-300
}
.text-neutral-400{
	color: $neutral-400
}
.text-neutral-500{
	color: $neutral-500
}
.text-neutral-600{
	color: $neutral-600
}
.text-neutral-900{
	color: $neutral-900
}
.text-neutral-white{
	color: white;
}
.bg-primary-100{
	background-color: $primary-100
}
.bg-primary-200{
	background-color: $primary-200
}
.bg-neutral-100{
	background-color: $neutral-100
}
.bg-neutral-white{
	background-color: white;
}
.border-neutral-300{
	border: 1px solid $neutral-300;
}