.container{
	max-width: 1320px;
	margin: 0 auto;
	padding-left: 12px;
	padding-right: 12px;
}
.row{
	display: flex;
	flex-wrap: wrap;
	margin-left: -12px;
	margin-right: -12px;
}
.col-1{
	padding-left: 12px;
	padding-right: 12px;
	width: calc(100% / 12);
}
.col-2{
	padding-left: 12px;
	padding-right: 12px;
	width: calc(100% / 12 * 2) ;
}
.col-3{
	padding-left: 12px;
	padding-right: 12px;
	width: calc(100% / 12 * 3);
}
.col-4{
	padding-left: 12px;
	padding-right: 12px;
	width: calc(100% / 12 * 4) ;
}
.col-5{
	padding-left: 12px;
	padding-right: 12px;
	width: calc(100% / 12 * 5);
}
.col-6{
	padding-left: 12px;
	padding-right: 12px;
	width: calc(100% / 12 * 6) ;
}
.col-7{
	padding-left: 12px;
	padding-right: 12px;
	width: calc(100% / 12 * 7);
}
.col-8{
	padding-left: 12px;
	padding-right: 12px;
	width: calc(100% / 12 * 8) ;
}
.col-9{
	padding-left: 12px;
	padding-right: 12px;
	width: calc(100% / 12 * 9) ;
}
.col-10{
	padding-left: 12px;
	padding-right: 12px;
	width: calc(100% / 12 * 10) ;
}
.col-11{
	padding-left: 12px;
	padding-right: 12px;
	width: calc(100% / 12 * 11) ;
}
.col-12{
	padding-left: 12px;
	padding-right: 12px;
	width: 100% ;
}
.text-center{
	text-align: center;
}