.login{
    height: 589px;    // 固定高度
}

.login img{
    width: 100%;
    height: 100%;
}
.welcome{
    background-image: url("/assets/images/login-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 120px 80px;
    height: 100%;
    width: 100%;
    border-radius: 12px;
}

.btn-custom{
    width: 100%;
    color: $neutral-600;
    border-bottom: 2px solid $neutral-300;
    &:hover{
        color: $neutral-900;
        border-bottom: 2px solid $neutral-900;
    }
    &:focus{
        color: $neutral-900;
        border-bottom: 2px solid $neutral-900;
    }
}

.btn-login{
    text-align: left;
    width: 100%;
}

@media(max-width: 768px) {
    .login-sm{
        height: 100%;
    }
    .welcome{
        background-image: none;
        padding: 32px 12px;
    }
    .nav-item{
        display: none;
    }
    .nav-list{
        padding-left: 12px;
        padding-right: 12px;
        flex-direction: column;
        align-items: flex-start;
    }
    .h2-mb {
		font-size: 32px;
		line-height: 1.2;
		font-weight: 700;
	}

	.h3-mb {
		font-size: 28px;
		line-height: 1.2;
		font-weight: 700;
	}

	.h4-mb {
		font-size: 24px;
		line-height: 1.2;
		font-weight: 700;
	}

	.h5-mb {
		font-size: 20px;
		line-height: 1.2;
		font-weight: 700;
	}

	.h6-mb {
		font-size: 16px;
		line-height: 1.2;
		font-weight: 700;
	}

	.py-mb-0 {
		padding: 0;
	}

	.py-mb-16 {
		padding-top: 16px;
		padding-bottom: 16px;
	}

	.py-mb-32 {
		padding-top: 32px;
		padding-bottom: 32px;
	}

	.py-mb-40 {
		padding-top: 40px;
		padding-bottom: 40px;
	}

	.py-mb-64 {
		padding-top: 64px;
		padding-bottom: 64px;
	}

	.mb-mb-8 {
		margin-bottom: 8px;
	}

	.mb-mb-12 {
		margin-bottom: 12px;
	}

	.mb-mb-16 {
		margin-bottom: 16px;
	}

	.mb-mb-24 {
		margin-bottom: 24px;
	}

	.mb-mb-32 {
		margin-bottom: 32px;
	}

	.mb-mb-40 {
		margin-bottom: 40px;
	}

	.mr-mb-16 {
		margin-right: 16px;
	}

	.mr-mb-16 {
		margin-right: 16px;
	}

	.mt-mb-24 {
		margin-top: 24px;
	}
    .paragraph-mb-md{
        font-size: 16px;
        font-weight: 400;
    }

}